---
---

@import "minima"; 

figcaption {
    text-align: center;
    font-style: italic;
}

figure img {
    display: block;
    margin: 0.5em auto;
}

.agree { background-color: lightgreen; }
.disagree {background-color: pink; }

mark.agree {
	background-color: lightgreen;
}

mark.disagree {
	background-color: pink;
}

table {
	width: 100%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	border: 2px solid gray;
	border-collapse: collapse;
}

td,th {
	border: 1px solid grey;
	padding: 8px;

}

th {
	text-align: center;
	background-color: lightgreen;
	padding-top: 10px;
	padding-bottom: 10px;
}
/*
th:last-child {
	width: 85%;
}
*/
*
td {
	padding: 8px;
	text-align: center;
}
/*
td:last-child {
	width: 100%;
}
*/



tr:nth-child(even){
	background-color: lightgreen;
}
